.header{
	background: linear-gradient(to right, #000000, #676666);
	width:100%;
	z-index: 9999;
	position: relative;
}

.head{
	background: linear-gradient(to right, #000000, #676666);
	width:120%;
	z-index:1111;
}

.logo{
	min-height:30px;
}


/*      HANDLING OF LOGO AND SEARCH INPUT FOR DEVICES LESS THAN 768PX   */

@media screen and (max-width: 350px)
{
	.xs-logo
	{
      width:200%;
	}
}
@media screen and (max-width: 400px)
{
#search_box
{
	height: 25px;
	font-size: x-small;
	width: 165px;
}
.search_button
{
	height: 25px;
}
}

/*      NAVIGATION LINKS FOR DEVICES LESS THAN 768PX    */

nav ul{margin:0; padding:0; list-style:none;}

.mobile_links{
	width: auto;
}

#mainav{text-align: center;}
#mainav li{display:inline-block; margin:0 5px 0 0; padding:0; margin-top:5px;}
#mainav ul li a { text-decoration:none; color:#fff; outline:none;}
#mainav ul li:hover  a,
#mainav ul li .active .active  a{color:#FFFFFF;
}



/********************************************
PAGINATION STYLE
****************************************/

@media screen and (min-width: 500px)
{
.paginationstyle li
{
	background-color: #e88337;
	height: 10px;
	padding: 3%;
	margin: 0 auto;
	margin-left: -5%;
	text-decoration: none;
	color: #FFF;
	margin-top: 2%;
}
}


@media screen and (max-width: 500px)
{
.paginationstyle li
{
	background-color: #e88337;
	height: 10px;
	padding: 5%;
	margin: 0 auto;
	margin-left: -15%;
	text-decoration: none;
	color: #FFF;
}
}

.paginationstyle li a:hover
{
	text-decoration: none;
}

.paginationstyle li a
{
color: #FFF;
}
