@import url("home_header.css");
@import url("icons.css");
@import url("carrado_header.css");


.icon
{
  float: left;
  font-size: 1.5em;
}

.popup-3 a:hover
{
  color: #FFF;
}

.login:hover
{
  color: #e88337;
}

.btn
{
	background-color:#202020;
}

/*    For all button tags in the home page with exception of the headers    */

button{
  outline:none;
  border:none;
  text-decoration:none;
  color:#202020;
  background-color:inherit;
}

/*******************************************************************************/


/* Outer */
.popup {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
	z-index:1050;
    background:rgba(0,0,0,0.75);
    animation: fadeIn 0s linear;
}

/* Close Button */
.popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.25s all;
    border-radius:1000px;
    background:rgba(0,0,0,0.8);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
    animation: fadeOut 4s linear;
}

.popup-close:hover {
    background:rgba(0,0,0,1);
    text-decoration:none;
}


@keyframes fadeIn{from{transform:scale(.7);transition-property:all}to{transform:scale(1);opacity:1}}
@keyframes fadeOut{from{transform:scale(1);opacity:1}to{transform:scale(.7);transition-property:all}}


.loading{
       width:2em;
       height:2em;
       border-radius: 50%;
       border: 4px solid #ccc;
       border-top: 4px solid #bbb;
       border-bottom: 4px solid #bbb;
       border-right: 4px solid #bbb;
       border-left: 4px solid #DDD;
       animation: spin-round 2s linear infinite;
       margin: 0 auto;
     }

     @keyframes spin-round{
       0%{transform: rotate(0deg); }
       100%{transform: rotate(360deg); }
     }



.changebtn
{
  outline:none;
  border:none;
	text-decoration:none;
	color:#202020;
  background-color:inherit;
}


/*
.category_list
{
	list-style:none;
}

.category
{
  margin-top: -2%;
}

.category div
{
	display: inline-block;
	width: 25%;
	background-color: inherit;
	text-align: center;
	padding:1%;
  margin-left: 0%;
  margin-top: 1.5%;
	height: 50px;
	border-right:1px solid rgba(255,204,0,.5);
  font-size: small;
  float: left;
}

.category a
{
  color: #202020;
  font-weight: bold;
  outline: none;
}

.category a:hover
{
  color: #090;
}
*/

@media screen and (min-width : 1200px)
{
#left-bar-categories
{
     position: fixed;
     top: 180px;
	 width:15%;
	 background-color:#FFF;
	 margin-right:85%;
	   z-index: 0101;
   border-radius: 6px;
  outline: 0;
 box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
     right: 0;
}
}

@media screen and (max-width : 1200px)
{
#left-bar-categories
{
     position: fixed;
     top: 180px;
	 width: 25%;
	 background-color:#FFF;
	 margin-right: 75%;
	   z-index: 0101;
   border-radius: 6px;
  outline: 0;
 box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
     right: 0;
}
}

#left-bar-categories ul
{
  list-style: none;
}
#left-bar-categories ul li
{
  display: block;
  width: 100%;
  font-size: small;
  text-align: center;
  padding: 8%;
  float: left;
}
#left-bar-categories ul li div a
{
  color: #e88337;
  text-decoration: none;
  outline: none;
}

@media screen and (min-width : 1200px)
{
#right-bar-categories
{
     position: fixed;
     top: 180px;
	 width:15%;
	 background-color:#FFF;
	 margin-right:0%;
	   z-index: 0101;
   border-radius: 6px;
  outline: 0;
 box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
     right: 0;
}
}

@media screen and (max-width : 1200px)
{
#right-bar-categories
{
     position: fixed;
     top: 180px;
	 width:25%;
	 background-color:#FFF;
	 margin-right:0%;
	   z-index: 0101;
   border-radius: 6px;
  outline: 0;
 box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
     right: 0;
}
}

#right-bar-categories ul
{
  list-style: none;
}
#right-bar-categories ul li
{
  display: block;
  width: 100%;
  font-size: small;
  text-align: center;
  padding: 8%;
}
#right-bar-categories ul li div a
{
  color: #e88337;
  text-decoration: none;
  outline: none;
}



.div-product_catalog
{
	border:rgba(204,204,204,.1) 2px solid;
	margin-top:1%;
}
.div-product_catalog h2{
	background-color:none;
	width:100%;
	height:5%;
	color:#000;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:100%;
	font-weight:600;
	text-align:center;
	text-decoration:underline;
}

.product_catalog
{
  width: 100%;
}

@media screen and (max-width : 1200px)
{
 .display-box{
   position: relative;
	min-height: 222px;
	display: inline-block;
	vertical-align: top;
	background: #ffffff;
	margin-top: 1px;
	font-family: calibri;
  float:left;
  text-align: center;
}
}


@media screen and (min-width : 1200px)
{
 .display-box{
   position: relative;
	min-height: 222px;
	display: inline-block;
	vertical-align: top;
	background: #ffffff;
	margin-top: 1px;
  opacity: 0;
	font-family: calibri;
  float:left;
  text-align: center;
}
}

 .display-box:hover{
	color: #EE7600;
	text-decoration: underline;
}

.display-box .load_img{
  margin-top: 10px;
	margin-bottom: 5px;
}

.display-box p{
	margin-top: 10px;
	text-transform: capitalize;
	color: #101010;
	font-weight: bold;
}

.view
{
	color: #e88337;
	font-size: 12px;
}

.viewxs
{
	color: #e88337;
	font-size: 12px;
}


.login_result
{
		display:none;
		 width:100%; min-height:20px;
  z-index: 1050;
   border-radius: 6px;
  outline: 0;
 box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
  z-index: 1050;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}



		 #target
 		{
 			background-color:#FFF;
 			margin-left: 38%;
 				width:25%;
 			margin-top:15%;
 			min-height:100px;
 			 box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
 			    border-radius: 6px;
 							padding-top: 3%;
 		}
