/********************
This is a css file for mobile previews only
Works for PURCHASE REQUEST, NOTIFICATION,
EDIT PROFILE, VIEW PROFILE, DISPLAY FOLLOWERS &
DISPLAY FOLLOWING mobile views
********************/

@import url("carrado_header.css");

body
{
  font-size: 13px;
  background-color: #f1f1f1;
  font-family: calibri;
}

.loading{
       width:2em;
       height:2em;
       border-radius: 50%;
       border: 4px solid #ccc;
       border-top: 4px solid #bbb;
       border-bottom: 4px solid #bbb;
       border-right: 4px solid #bbb;
       border-left: 4px solid #DDD;
       animation: spin-round 2s linear infinite;
       margin: 0 auto;
     }

     @keyframes spin-round{
       0%{transform: rotate(0deg); }
       100%{transform: rotate(360deg); }
     }


@media screen and (max-width: 300px)
{
  .image
  {
    display: none;
  }
}

@media screen and (min-width: 300px)
{
  .image
  {
    width: 25px;
  }
}


.view_details
{
  margin-top: -3.5%;
}


.accept
{
  background-color: #FFF;
  border: 1px solid #e88337;
  border-radius: 2px;
  margin-left: 1%;
  height: 30px;
  box-shadow: 1px inset #660099;
}

.reject
{
  background-color: #FFF;
  border: 1px solid #e88337;
  border-radius: 2px;
  height: 30px;
  box-shadow: 1px inset #660099;
}

.transaction > thead > tr > th
.transaction > tbody > tr > th,
.transaction  > tfoot > tr > th,
.transaction > thead > tr > td,
.transaction > tbody > tr > td,
.transaction > tfoot > tr > td
{
	 padding: 12px;
  line-height: 1.42857143;
  vertical-align: top;
  margin-left: 2%;
}



.edit_table > thead > tr > th,
.edit_table > tbody > tr > th,
.edit_table > tfoot > tr > th,
.edit_table > thead > tr > td,
.edit_table > tbody > tr > td,
.edit_table > tfoot > tr > td {
 padding: 15px;
 line-height: 1.42857143;
 margin-left: 2%;
}

.edit_table input
{
 height: 24px;
 padding: 3px 12px;
 font-size: 12px;
 width:100%;
 border-top:hidden;
 border-left:hidden;
 border-right:hidden;
}
.edit_table textarea
{
 height: 54px;
 padding: 3px 12px;
 font-size: 12px;
 width:100%;
 border-top:hidden;
 border-left:hidden;
 border-right:hidden;
}
.highlight
{
border:2px solid #9F1319;
}
.intl-tel-input.allow-dropdown
{
 padding: 6px 12px;
 width:100%;
   margin-left: 0;
}

.edit_table td
{
  width: 50%;
}
.hide {
  display: none; }

  .fileUpload
  {
  	position:relative;
  	overflow:hidden;
  	margin:10px;
  	margin-top:-4px;
  	margin: 0 auto;
  }
  .fileUpload input.upload
  {
  	position:absolute;
  	top:0;
  	right:0;
  	margin:0;
  	padding:0;
  	font-size:20px;
  	cursor:pointer;
  	opacity:0;
  	filter:alpha(opacity=0);
  }

  #uploadFile
  {
  	width:90%;
  	  height: 30px;
  	  font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
         -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

  }
  .btn
  {
    background-color: #FFF;
  }

  .js .inputfile {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
  }

  .inputfile + label {
      max-width: 100%;
      font-size: 1.25rem;
      /* 20px */
      font-weight: 700;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
      display: inline-block;
      overflow: hidden;
      padding: 0.625rem 1.25rem;
      /* 10px 20px */
  }

  .no-js .inputfile + label {
      display: none;
  }

  .inputfile:focus + label,
  .inputfile.has-focus + label {
      outline: none #000;
      outline: -webkit-focus-ring-color auto 5px;
  }

  .inputfile + label * {
      /* pointer-events: none; */
      /* in case of FastClick lib use */
  }

  .inputfile + label svg {
      width: 1em;
      height: 1em;
      vertical-align: middle;
      fill: currentColor;
      margin-top: -0.25em;
      /* 4px */
      margin-right: 0.25em;
      /* 4px */
  }

  .inputfile-1 + label {
      color: #f1e5e6;
      background-color: #202020;
  }

  .inputfile-1:focus + label,
  .inputfile-1.has-focus + label,
  .inputfile-1 + label:hover {
      background-color: #202020;
  }


  .action-button
  {
  padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  font-family: 'Pacifico', cursive;
  font-size: 14px;
  color: #FFF;
  text-decoration: none;
  margin-top:2%;
  background-color:#e88337;
  }


  .row_container_product
  {
    z-index: -1;
    min-height: 200px;
  }

  @media screen and (min-width : 500px)
  {
    .form{
      width: 75%;
      margin-left: 12.5%;
    }
  }
