@import url("carrado_header.css");

a
{
  outline: none;
}

.div-product_catalog
{
	border:rgba(204,204,204,.1) 2px solid;
	margin-top:1%;
  width: 100%;
}


.display-box{
  position: relative;
  width: 210px;
 min-height: 222px;
 display: inline-block;
 vertical-align: top;
 background: #ffffff;
 margin-top: 1px;
 font-family: calibri;
 margin-left:3.5%;
 float:left;
 box-shadow: 2px 2px 2px 2px #ddd;
 text-align: center;
}

.display-box:hover{
 color: #EE7600;
 text-decoration: underline;
}

.display-box .load_img{
 max-width: 180px;
 height: 150px;
 margin-top: 10px;
 margin-bottom: 5px;
}

.display-box p{
 margin-top: 10px;
 text-transform: capitalize;
 color: #101010;
 font-weight: bold;
}
