@charset "utf-8";
/* CSS Document */

@import url("carrado_header.css");
@import url("carrado_popups.css");
@import url("icons.css");

.icon
{
  float: left;
  font-size: 1.5em;
}

a:hover{
  color: #FFF;
}

body
{
  font-size: 12px;
  background-color :#f1f1f1;
}

.profile
{
  cursor: pointer;
}

.row_container_profile
{
  z-index: -1;
  min-height: 200px;
}


.category_list
{
	list-style:none;
}

.category
{
  margin-top: -1%;
}

.category li
{
	display: inline-block;
	width: 25%;
	background-color: inherit;
	text-align: center;
	padding:1%;
  margin-left: 0%;
  margin-top: 1%;
	height: 50px;
	border-right:1px solid rgba(255,204,0,.5);
  font-size: small;
  float: left;
}

.category_list a
{
  color: #202020;
  font-weight: bold;
  outline: none;
}

.category_list a:hover
{
 border-bottom: 1px solid #e88337;
}

.panel-body ul li span
{
  color: #202020;
}

/* Outer */
.popup {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
	z-index:1050;
    background:rgba(0,0,0,0.75);
    animation: fadeIn 0s linear;
}

/* Close Button */
.popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.25s all;
    border-radius:1000px;
    background:rgba(0,0,0,0.8);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
    animation: fadeOut 4s linear;
}

.popup-close:hover {
    background:rgba(0,0,0,1);
    text-decoration:none;
}


@keyframes fadeIn{from{transform:scale(.7);transition-property:all}to{transform:scale(1);opacity:1}}
@keyframes fadeOut{from{transform:scale(1);opacity:1}to{transform:scale(.7);transition-property:all}}

.loading{
       width:2em;
       height:2em;
       border-radius: 50%;
       border: 4px solid #ccc;
       border-top: 4px solid #bbb;
       border-bottom: 4px solid #bbb;
       border-right: 4px solid #bbb;
       border-left: 4px solid #DDD;
       animation: spin-round 2s linear infinite;
       margin: 0 auto;
     }

     @keyframes spin-round{
       0%{transform: rotate(0deg); }
       100%{transform: rotate(360deg); }
     }

     .loadiconer{
       width:2.5em;
       height:2.5em;
       border-radius: 50%;
       border: 4px solid #ccc;
       border-top: 4px solid #202020;
       border-bottom: 4px solid #202020;
       border-right: 4px solid #202020;
       border-left: 4px solid #DDD;
       animation: spin-round 2s linear infinite;
       margin: 0 auto;
       bottom: 0%;
       display: none;
       position: fixed;
          }

          @keyframes spin-round{
            0%{transform: rotate(0deg); }
            100%{transform: rotate(360deg); }
          }

    @media screen and (min-width : 1200px)
    {
      .loadiconer{
        left: 45%;
      }
    }

    @media screen and (max-width : 1200px)
    {
      .loadiconer{
        left: 50%;
      }
    }

    .dropdown-menu
    {
      text-align: center;
<<<<<<< 25b69d20b9b6e2b93c3619369e3fcf9fe8433d78
      font-size: 90%;
=======
      font-size: 100%;
>>>>>>> Update
    }

     .dropdown-menu li div
     {
     	color:#202020;
     	padding-top:8px;
     }
<<<<<<< 25b69d20b9b6e2b93c3619369e3fcf9fe8433d78

     .dropdown-menu li .btn-link
     {
     	color:#202020;
     }
=======
>>>>>>> Update

     .dropdown-menu li .btn-link
     {
     	color:#202020;
     }

  .label-uploadfile
  {
    font-weight: normal;
    margin-top: -10%;
    cursor: pointer;
  }

            /**************************************************************MENU BAR CSS*************************************/


.user_menu
{
	background-color:inherit;
	width:100%;
	min-height:200px;
	margin-top:0px;
}

.menu
{
	display:block;
	list-style:none;
}

.menu li a
{
	text-decoration:none;
	color:#202020;
}

.panel-body ul li
{
	padding:4%;
	text-decoration:underline;
	color:#e88337;
	text-align:center;
	list-style:none;
}




       /**************************************************PRODUCTS DISPLAY CSS***************************************/

	.productdisplay
	{
		background-color:#FFF;
		min-height:1200px;
	}

	.productdisplay h4{
	background-color:none;
	width:100%;
	height:5%;
	color:#000;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:100%;
	font-weight:600;
	text-align:center;
	text-decoration:underline;
}

<<<<<<< 25b69d20b9b6e2b93c3619369e3fcf9fe8433d78




	/***************************************************CATEGORIES CSS**********************************************/

.categories_log
{
 position: fixed;
 left: 82%;
 margin-top: 3.5%;
}
=======
>>>>>>> Update

a:hover
{
	text-decoration:none;
}



.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button
{
	position: relative;
	padding: 10px 40px;
  margin: 0px 10px 10px 0px;
	border-radius: 10px;
	font-family: 'Pacifico', cursive;
	font-size: 14px;
	color: #FFF;
	text-decoration: none;
}

<<<<<<< 25b69d20b9b6e2b93c3619369e3fcf9fe8433d78
.categories li span
{
  float: left;
}

.categories li a
=======
.orange
>>>>>>> Update
{
	background-color: #e88337;
	border-bottom: 5px solid #BD3E31;
	text-shadow: 0px -2px #BD3E31;
}

.viewxs
{
	color: #e88337;
	font-size: 12px;
  border: none;
  background-color: inherit;
}




#target
{
<<<<<<< 25b69d20b9b6e2b93c3619369e3fcf9fe8433d78
	text-decoration:none;
}


#target
{
	background-color:#FFF;
	margin-left:35%;
=======
	background-color:#FFF;
	margin-left:37%;
>>>>>>> Update
		width:25%;
	margin-top:15%;
	min-height:100px;
	 box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
	    border-radius: 6px;
					padding-top: 3%;
}
